@import '../../styles/Mixin.scss';

.wrapper {
  background: #F3F3F4;
}

.footer_content {
  display: flex;
  // align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: left;
  gap: 40px;

  @include small {
    gap: 1.5rem;
  }
}

.footer_logo {
  flex-basis: 20%;
  max-width: 100px;
  min-width: 45px;
}

.footer_group {

  li {
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
}

.social_links {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.copyright {
  padding: 10px 0;
  background: $color-primary_01;
  color: $color-secondary_03;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-family: "Markazi Text";
}