@import '../styles/Mixin.scss';

.wrapper {
  padding: 100px 0;
  text-align: center;
  position: relative;

  h2 {
    margin-bottom: 60px;

    @include phone {
      margin-bottom: 30px;
    }
  }

  @include phone {
    padding: 50px 0 80px 0;
  }
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('https://images.unsplash.com/photo-1534650075489-3baecec1e8b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') no-repeat center/cover;
  opacity: 0.4;
  z-index: -1;
}