@import '../../styles/Mixin.scss';

.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
  background: $color-secondary_03;
  border-radius: 10px;
  text-align: left;

  @include small {
    width: 100%;
    flex-direction: row;
  }
}

.card_photo {

  @include small {
    width: 100%;
    align-self: stretch;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.card_content {
  padding: 20px 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2.5fr 1fr;

  h3 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 21px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 15px;
  }

  span {
    font-size: 1.8rem;
    text-align: right;
    color: $color-secondary_01;
  }

  p {
    font-size: 1.6rem;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  @include phone {
    padding: 10px;

    h3 {
      margin-bottom: 10px;
    }

    span {
      margin-top: 3px;
    }
  }

  @include small {
    grid-template-rows: 0.5fr 1.5fr 0.5fr;

    span {
      grid-column: 2/3;
      grid-row: 3/4;
      align-self: center;
    }
  }
}

.card_footer {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  p {
    font-size: 1.6rem;
    font-weight: 700;

    @include small {
      font-size: 1.4rem;
    }
  }
}